<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Home|Carlton Segbefia's Blog</title>
  <meta name="description" content="A blog by Carlton Segbefia exploring topics like, Technology, Afrofuturism, Design and Fiction">
  <meta name="author" content="Carlton Segbefia">

  <!-- Other SEO tags
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="author" href="https://blog.carltonsegbefia.com/humans.txt" />

  <meta name="og:type" content="website" />

  <meta name="og:title" content="Home|Carlton Segbefia's Blog" />

  <meta name="og:description" content="A blog by Carlton Segbefia exploring topics like, Technology, Afrofuturism, Design and Fiction" />

  <meta name="twitter:card" content="summary" />

  <meta name="twitter:title" content="Home|Carlton Segbefia's Blog" />

  <meta name="twitter:description" content="A blog by Carlton Segbefia exploring topics like, Technology, Afrofuturism, Design and Fiction" />

  <meta name="next-head-count" content="10" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/custom.css">
  <link rel="stylesheet" href="css/skeleton.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

  <!-- <base href="https://www.blog.carltonsegbefia.com" /> -->



</head>

<body>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{> header }}


  <!-- Tags
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div  style="max-width: 650px;margin-bottom: 30%;" class="container">
    <div class="row title">
      <h1>An exploration into the mind of Carlton Segbefia</h1>
      </div>
      <div class="row tags">
        <a href="random" class="tag">#Random</a>
        <a href="posts" class="tag">#Recent</a>
      </div>
      <!-- need loop for tags -->
      <div class="row tags">
        {{#get_keys tags}}
        <a href="tags/{{this}}" class="tag">#{{this}}</a>
        {{/get_keys}}
      </div>
  </div>

<!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
{{> footer }}

<!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
